<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="RegisterMinThread" value="5"/>
		<!--注册会话线程池最小线程数-->
		<add key="RegisterMaxThread" value="5"/>
		<!--注册会话线程池最大线程数-->
		<add key="InvokeServiceMinThread" value="100"/>
		<!--普通服务调用线程池最小线程数-->
		<add key="InvokeServiceMaxThread" value="500"/>
		<!--普通服务调用线程池最大线程数-->
		<add key="LongInvokeServiceMinThread" value="5"/>
		<!--长时间服务调用线程池最小线程数-->
		<add key="LongInvokeServiceMaxThread" value="10"/>
		<!--长时间服务调用线程池最大线程数-->
		<add key="CompressSize" value="30000"/>
		<!--数据传输默认压缩阙值,单位:字节-->
		<add key="ReceiveBufferSize" value="30000"/>
		<!--应用服务器每个连接接收数据缓存区大小,单位:字节-->
		<add key="SendBufferSize" value="30000"/>
		<!--应用服务器每个连接发送数据缓存区大小,单位:字节-->
		<add key="SessionTimeoutSpan" value="3600"/>
		<!--会话超时间隔,单位:秒-->
		<add key="ServiceCallTimeoutSpan" value="60"/>
		<!--服务调用超时时间,单位:秒-->
		<add key="SocketAcceptDataInterval" value="30"/>
		<!--从连接到服务器到第一个数据包到达的时间间隔,防止网络攻击,单位:秒-->
		<add key="MAX_COMMAND_SIZE" value="20971520"/>
		<!--传输命令包最大值,单位:字节-->

		<add key="RegisterMinThread" value="5"/>
		<!--注册会话线程池最小线程数-->
		<add key="RegisterMaxThread" value="5"/>
		<!--注册会话线程池最大线程数-->
		<add key="InvokeServiceMinThread" value="100"/>
		<!--普通服务调用线程池最小线程数-->
		<add key="InvokeServiceMaxThread" value="500"/>
		<!--普通服务调用线程池最大线程数-->
		<add key="LongInvokeServiceMinThread" value="5"/>
		<!--长时间服务调用线程池最小线程数-->
		<add key="LongInvokeServiceMaxThread" value="10"/>
		<!--长时间服务调用线程池最大线程数-->
	</appSettings>
</configuration>